.map-wrapper {
  width: 100%;
  height: 420px; /* altura visible en desktop */
  min-height: 320px;
  border-radius: 10px;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 320px;
}
