.map-container {
  position: relative;
  width: 100%;
  height: 100vh;

  .map {
    width: 100%;
    height: 100%;
  }


  .tool-item.disabled {
  opacity: 0.4;
  pointer-events: none;
  filter: grayscale(100%);
    }


  .tool-panel-horizontal {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: row; // horizontal
    gap: 12px;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.547);
    padding: 8px 12px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.3);

    .tool-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      gap: 4px;
      padding: 6px;
      transition: all 0.2s;

      position: relative;
      overflow: hidden;

      &:active {
          transform: scale(0.92);
      }

        /* efecto ripple */
      &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background: rgba(255, 255, 255, 0.7);
          border-radius: 50%;
          transform: scale(0);
          opacity: 0;
          pointer-events: none;
          transition: transform 0.4s ease, opacity 0.45s ease;
      }

      &.clicked::after {
          transform: scale(12);
          opacity: 0;
      }

      img {
        width: 24px;
        height: 24px;
      }

      span {
        font-size: 12px;
      }

      
      &:hover {
        background: #020202b2;
        color: white;
        border-radius: 8px;

        img {
          filter: brightness(0) invert(1);
        }
      }
      &.active{
        background: #020202b2;
        color: white;
        border-radius: 8px;

        img {
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}

.save-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.45);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.25);
  text-align: center;
}

.modal-content input {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.btn-confirm {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}